.wrapper {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px 50px 0 50px;
    box-shadow: 0px 0px 6px 3px #000000;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.w_cr {
    font-size: 12px;
}

.bookmarklet {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
}

.bookmarklet:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    background: #67c5ff;
    transition: .2s;
}

.bookmarklet:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #67c5ff;
    transition: .2s;
}

.bookmarklet:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

.bookmarklet:hover:after {
    top: 3px;
}

.description {
    padding-top: 40px;
}

.none {
    text-decoration: line-through;
}